<div class="container mt-4 mb-5">
  <div class="mt-4 mb-4">
    <nav class="
        navbar
        navbar-expand-lg
        navbar-light
        shadow-sm
        bg-light
"
    >
      <div class="container-fluid justify-content-md-center">
        <ul class="navbar-nav">

          <%= content_tag :li,
                          class: "nav-item" do %>
            <%= link_to "Back",
                        "",
                        class: "nav-link",
                        onclick: "event.preventDefault(); window.history.back()"
            %>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

  <div class="card shadow">
    <div class="card-body">
      <div class="card-title">
        <h2>
          <b>
            <%= link_to @question.user.given_name,
                        course_user_path(@question.course, @question.user),
                        style: "text-decoration: none; color: inherit"%>
          </b>
        </h2>
        <h5>
          <%= @question.question_state.state.capitalize %> at <b><%= @question.question_state.created_at.strftime('%B %-d, %Y %l:%M %P') %></b>
        </h5>
        <h5>
          Created at <b><%= @question.created_at.strftime('%B %-d, %Y %l:%M %P') %> </b>
        </h5>
      </div>
      <hr />
      <div class="card-text">
        <h4>
          <b>
            Description
          </b>
        </h4>
        <p>
            <%= @question.description %>
        </p>
        <h4>
          <b>
            What Have They Tried?
          </b>
        </h4>
        <p>
          <%= @question.tried %>
        </p>
        <h4>
          <b>
            Location
          </b>
        </h4>
        <p>
          <%= @question.location %>
        </p>
        <h4>
          <b>
            Queues
          </b>
        </h4>
        <p>
          <% @question.tags.each do |t| %>
            <%= link_to t.name, course_tag_path(t.course, t), class: "text-decoration-none" %>
          <% end %>
        </p>
        <hr/>
        <h4>
          Previous Questions
        </h4>
        <% if @previous_questions.count == 0 %>
          <div class="alert alert-warning">
            No Questions
          </div>
        <% end %>
        <%= link_to "path" , course_questions_path(params[:course_id], question_id: @question.id, user_id: @question.user.id)%>
        <div class="list-group">
          <% @previous_questions.each do |question| %>
            <%= link_to course_question_path(question.course, question), class: "text-decoration-none", style: 'color: inherit' do %>
              <div class="list-group-item mb-1">
                <div>
                  <b>
                    <%= question.question_state.created_at.strftime('%B %-d, %Y %l:%M %P') %>
                  </b>
                </div>
                <div>
                  <%= question.description %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>