<div class="d-flex justify-content-center container mt-4">
  <div
    style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-column-gap: 5%;
      justify-items: center;"
    class="d-grid w-100"
  >
    <div class="w-100 mb-3">
      <div class="d-grid" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-column-gap: 15px">
        <div class="mb-3">
          <h1 class="mb-0 text-nowrap">
            Student Courses
          </h1>
          <div class="text-muted mb-3">
            All the courses in which you are currently enrolled as a student.
          </div>
          <turbo-frame id="enroll-by-search" src="<%= new_enroll_by_search_path %>">
            <div class="card card-body d-flex justify-content-center align-items-center mb-2 shadow-sm"
                 style="height: 110px; cursor: pointer"
            >
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </turbo-frame>
          <div id="student-enrollments">
            <%= render(Users::Enrollments::EnrollmentsComponent.new(enrollments: current_user.student_enrollments)) %>
          </div>
        </div>


        <div class="mb-3">
          <h1 class="mb-0 text-nowrap">
            Instructor Courses
          </h1>
          <div class="text-muted mb-3">
            All the courses in which you are currently enrolled as a TA or instructor.
          </div>

          <div id="staff-enrollments">
            <%= render(Users::Enrollments::EnrollmentsComponent.new(enrollments: current_user.staff_enrollments)) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% tag.div class: "d-flex justify-content-center container mt-4" do %>

  <div
    style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-column-gap: 5%;
      justify-items: center;"
    class="d-grid w-100"
  >
    <div class="w-100 mb-3">
      <div class="d-grid" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); grid-column-gap: 15px">
        <div class="mb-3">
          <h1 class="mb-0 text-nowrap">
            Student Courses
          </h1>
          <div class="text-muted mb-3">
            All the courses in which you are currently enrolled as a student.
          </div>

          <%= content_tag :div, id: "search-course", data: {
            userId: current_user.id,
          }.to_json do %>
          <% end %>
        </div>


        <div class="mb-3">
          <h1 class="mb-0 text-nowrap">
            Instructor Courses
          </h1>
          <div class="text-muted mb-3">
            All the courses in which you are currently enrolled as a TA or instructor.
          </div>

          <%= content_tag :div, id: "add-course-by-code", data: {
            userId: current_user.id,
          }.to_json do %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>
