<div class="card card-body w-100">
  <h4> Results <small>(<%= msg %>)</small></h4>
  <hr class="mt-1 mb-1">
  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
      <tr>
        <% headers.each do |header| %>
          <th scope="col" style="max-width: 200px">
            <% if header.is_a?(Hash) && header.values.first == :sortable %>
              <%= render(Shared::Search::SortLinkComponent.new(category: header.keys.first,
                                                               query_params: request.query_parameters,
                                                               parent: parent,
                                                               resources: search.klass.name.demodulize.pluralize.underscore.to_sym)) %>
            <% elsif !header.is_a?(Hash) %>
              <%= header.to_s.titleize %>
            <% end %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% results.each do |result| %>
        <%= result %>
      <% end %>
      </tbody>
    </table>
    <% if search.results.blank? %>
      <div class="alert alert-warning">
        No <%= resources.to_s.titleize %>
      </div>
    <% end %>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <%== render partial: "pagy/nav.html.erb", locals: { pagy: pagy } %>
  </div>
</div>