<% if options[:sort_extra].present? %>
  <% options[:sort_extra].each do |sort| %>
    <%= sort_link(sort) %>
  <% end %>
<% end %>
<% if agg_keys.present? %>
  <% agg_keys.each do |category| %>
    <%= sort_link(category) %>
    <% if results.aggs.dig(category, "buckets").present? || options.dig(:extra_buckets, category.to_s).present? %>
      <h5> Filter by <%= category.to_s.humanize.titleize %></h5>
      <%= link_to "Remove #{category.to_s.humanize.titleize} filters",
                  polymorphic_path([:search, course, resources],
                                   request.query_parameters.reject { |k, v| k == category.to_s })
      %>
      <hr class="m-1">
      <div style="overflow-y: scroll; min-height: 150px; max-height: 200px">
        <% results.aggs.dig(category, "buckets") and results.aggs.dig(category, "buckets").each do |bucket| %>
          <div>
            <%= render(Shared::Search::SearchPaneComponent.new(query_params: query_params,
                                                               bucket: bucket,
                                                               category: category,
                                                               course: course,
                                                               resources: resources
            )) %>
          </div>
        <% end %>
        <% if options.dig(:extra_buckets, category.to_s).present? %>
          <% options.dig(:extra_buckets, category.to_s).each do |bucket| %>
            <div>
              <%= render(Shared::Search::SearchPaneComponent.new(query_params: query_params,
                                                                 bucket: bucket,
                                                                 category: category,
                                                                 course: course,
                                                                 resources: resources
              )) %>
            </div>
          <% end %>

        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
