<div class="card shadow-sm mb-2">
  <div class="card-body">
    <%= form_tag(polymorphic_path([:search, parent, resources].flatten, query_parameters), method: :get, autocomplete: "off", "data-turbo-frame": "_self") do %>
      <div class="mb-2">
        <%= text_field_tag(:q, params[:q], class: "form-control") %>
      </div>
      <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
  </div>

  <%= tag.div class: "card-footer" do %>
    <%= link_to "Import #{resources.to_s.titleize}",
                polymorphic_path([:import, parent, resources].flatten),
                "data-turbo-target": "_top",
                class: "btn btn-primary" if actions.include?(:import) && helpers.can?(:import, resource_class) %>
    <%= new_link %>
  <% end if actions.any? %>
</div>