<h1>
  <%= @course.name %>
</h1>
<hr>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Queue", queue_course_path(@course), class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "TA Log", queue_staff_log_course_path(@course), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Queue Status Logs", course_queue_status_logs_path(@course, date: Date.current.strftime("%Y-%m-%d")), class: "nav-link" %>
  </li>
</ul>

<div style="display: flex; flex-direction: column; align-items: center" class="w-100">

  <%= render(Courses::StaffInfoPanelComponent.new(course: @course)) %>
  <div class="w-100">
    <turbo-frame
      id="feed"
      class="w-100"
    >
      <%= render(Courses::Feed::FeedComponent.new(course: @course,
                                                  options: { where: { tags: @current_enrollment.selected_tags } },
                                                  selected_tags: @current_enrollment.selected_tags )) %>
    </turbo-frame>
  </div>

</div>
