<div id="<%= dom_id(enrollment) %>" style="height: 110px">
  <%= link_to link, class: "card shadow-sm text-decoration-none hover-container" do %>
    <div class="card-body">
      <div class="card-title">
        <h5>
          Go to <b><%= course.name %></b>
        </h5>
      </div>
    </div>
    <div class="card-footer text-light <%= footer_class %>">
      <%= role.name.titleize %><strong> <%= enrollment.semester %></strong>
    </div>
  <% end %>
</div>