<div data-controller="modal-component" data-modal-component-id-value="<%= id %>">
  <div data-modal-component-target="button">
    <%= button %>
  </div>

  <%= content_for :modal do %>
    <div id="<%= id %>" class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= title %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= body %>
          </div>
          <div class="modal-footer">
            <%= footer %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
