<%= simple_form_for [@course, @tag_group], html: { autocomplete: 'off' } do |f| %>
  <%= f.hidden_field :course_id, value: params[:course_id] if params[:course_id] %>
  <%= f.input :name %>
  <%= f.input :description %>

  <div data-controller="react_select">
    <%= f.association :tags, label_method: ->(tag) { tag.name }, collection: @course.tags.undiscarded %>
  </div>

      <%= f.submit :Submit, class: "btn btn-primary", "data-disable-with": "Loading" %>
<% end %>
