<div class="container px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-center align-items-center">
      <%= image_tag 'worm.png', width: "400px", style: "border-radius: 50%", class: "shadow-lg" %>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">
        Advanced insights into the performance of office hours.
      </h1>
      <p class="lead">
        Augmenting what office hours traditionally are, CMQueue allows instructors to obtain key insights
        into how office hours are going.
      </p>
      <%= button_to "/users/auth/google_oauth2?origin=login",
                    method: :post,
                    data: { 'turbo': "false" },
                    class: "mt-4 p-0 border-0" do %>

        <%= image_tag 'google/web/2x/btn_google_signin_dark_normal_web@2x.png',
                      width: '310px',
                      class: "shadow-sm"
        %>
      <% end %>
    </div>
  </div>
</div>

<% tag.div class: "d-flex justify-content-center h-100" do %>
  <div style="display: flex;flex-direction: column; height: 80%; align-items: center; justify-content: center">
    <%= image_tag 'logo.png',
                  height: '300px',
                  width: '300px',
                  class: "shadow mb-3"
    %>
    <%= button_to "/users/auth/google_oauth2?origin=login",
                  method: :post,
                  data: { 'turbo': "false" },
                  style: "padding: 0px; border: 0px",
                  class: "mt-4" do %>

      <%= image_tag 'google/web/2x/btn_google_signin_dark_normal_web@2x.png',
                    width: '310px',
                    class: "shadow-sm"
      %>
    <% end %>
  </div>
<% end %>