<div id="questions-count" class="card bg-white position-relative">
  <%= tag.a class: "position-absolute",
            style: "right: 10px; top: 10px",
            href: "#",
            "data-bs-toggle": "popover",
            title: "information",
            "data-bs-content": info do
  %>
    <i class="fas fa-info-circle fa-lg"></i>
  <% end if info.present? %>
  <div class="card-body" style="min-height: 115px">
    <div class="card-title mb-1">
      <b><%= title %></b>
    </div>
    <div class="card-text">
      <p class="h2 text-secondary"><span style="<%= value_style %>"><%= value %></span></p>
    </div>
  </div>
  <%= tag.div class: "card-footer p-0" do %>
    <%= footer %>
  <% end if footer.present? %>
</div>
