<turbo-frame id="form">
  <% if question.kicked? %>
    <div class="card">
      <div class="card-body">
        <h5 class="mb-0">
          You Have Been Kicked
        </h5>
        <div class="text-muted">A TA tried to answer your question but there were problems.</div>
        <div class="mt-3">
          <label class="fw-bold"> Why </label>
          <%= text_area_tag "Why", question.question_state.description, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="card-footer">
        <%= form_with url: acknowledge_question_path(question), method: :patch do |f| %>
          <%= f.submit "Acknowledge", "data-turbo-frame": "_top", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  <% elsif question.frozen? %>
    <div id="question-form">
      <div class="card ">
        <div class="card-body">
          <h5 class="mb-0">
            You Have Been Frozen
          </h5>
          <div class="text-muted">A TA tried to answer your question but there were problems.</div>
          <div class="mt-3">
            <label class="fw-bold"> Why </label>
            <div>
              <%= text_area_tag "Why", question.question_state.description, class: "form-control", disabled: true %>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= form_with url: update_state_question_path(question), id: "unfreeze" do |f| %>
            <%= f.hidden_field :course_id, value: question.course.id %>
            <%= f.hidden_field :state, value: "unresolved" %>
            <%= f.submit "Unfreeze", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>

    <div data-controller="question-form"
         data-question-form-new-record-value="<%= question.new_record? %>"
         data-question-form-course-id-value="<%= course.id %>"
         id="question-form">
      <%= tag.div class: "card w-100 shadow-sm #{creator_classes}", "data-question-form-target": "form" do %>
        <div class="card-body">
          <div class="card-title">
            <h3>
              Ask a Question
            </h3>
            <p class="text-muted">
              Use the form below to ask your question to the staff.
            </p>

            <%= tag.h1 class: "badge bg-primary" do %>
              Frozen
            <% end if question.frozen? %>
            <hr>
            <%= tag.div do %>
              <%= tag.h5 do %>
                <%= "#{question.question_state.user.given_name} is answering your question." %>
                <%= tag.span class: "badge bg-success" do %> Resolving
                <% end %>
                <hr>
              <% end %>
            <% end if question.resolving? %>
          </div>


          <%= render(Forms::Questions::FormComponent.new(question_form: question_form,
                                                        course: course,
                                                        current_user: current_user
          )) %>
        </div>
      <% end %>
    </div>
  <% end %>
</turbo-frame>
