<%
  msg = if @pagy.count == 1
          "#{@pagy.count} enrollment in #{@results.took} ms"
        else
          "#{@pagy.count} enrollments in #{@results.took} ms"
        end
%>

<div class="mb-3">
  <h1 class="mb-0">
    Enrollments
  </h1>
  <div class="text-muted">
    All created enrollments.
  </div>
</div>

<%= render(Shared::Search::SearchBarComponent.new(resources: :enrollments,
                                                  course: @course,
                                                  query_parameters: request.query_parameters,
                                                  options: {
                                                    actions: [:new, :import]
                                                  })) %>

<div class="d-flex">
  <div class="card card-body shadow-sm me-2" style="width: 300px; max-width: 300px">
    <%= render(Shared::Search::SearchPaneComponents.new(results: @results,
                                                        course: @course,
                                                        query_params: request.query_parameters,
                                                        resources: :enrollments
    ))
    %>
  </div>
  <div class="w-100">
    <h3> Results <small>(<%= msg %>)</small></h3>
    <div class="card card-body d-flex flex-row">
      <% if @results.aggs.present? %>
        <div class="fw-bold">
          Sort:
        </div>
        <div class="w-100 d-grid" style="grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); justify-items: center">
          <% @results.aggs.keys.each do |category| %>
            <% if @results.aggs[category]["buckets"].present? %>
              <div>
                <%= render(Shared::Search::SortLinkComponent.new(category: category,
                                                                 query_params: request.query_parameters,
                                                                 course: @course,
                                                                 resources: :enrollments)) %>
              </div>
            <% end %>
          <% end %>
      <% end %>
      </div>
    </div>
    <% if @results.results.empty? %>
      <div class="alert alert-warning">
        No Enrollments
      </div>
    <% end %>
    <% @results.results.each do |enrollment| %>
      <div class="card mb-2 shadow-sm">
        <div class="card-body">
          <h4>
            <%= link_to course_enrollment_path(@course, enrollment) do %>
              <%= enrollment.role.name.titleize %>
            <% end %>
          </h4>
          <div>
            <label class="fw-bold"> User </label>
            <div>
              <%= enrollment.user.full_name %>
            </div>
          </div>
          <div>
            <label class="fw-bold"> Created At </label>
            <div>
              <%= enrollment.created_at.strftime("%a, %x, %I:%M %p") %>
            </div>
          </div>
          <div>
          </div>
        </div>
        <%= render(Shared::Search::CardFooterComponent.new(record: enrollment, course: @course)) %>
      </div>
    <% end %>
  </div>

</div>
<div class="w-100 d-flex justify-content-center">
  <%== render partial: "pagy/nav.html.erb", locals: { pagy: @pagy } %>
</div>
