<%
  msg = if @pagy.count == 1
          "#{@pagy.count} tag group in #{@results.took} ms"
        else
          "#{@pagy.count} tag groups in #{@results.took} ms"
        end
%>

<div class="mb-3">
  <h1 class="mb-0">
    Tag Groups
  </h1>
  <div class="text-muted">
    All created tag groups.
  </div>
</div>

<turbo-frame id="search-container" class="search-container" data-turbo-action="advance" target="_top">
  <%= render(Shared::Search::SearchPaneComponents.new(results: @results,
                                                      course: @course,
                                                      query_params: request.query_parameters,
                                                      resources: :tag_groups,
                                                      options: {
                                                        sort_extra: [:created_at]
                                                      }))
  %>
  <div class="w-100">
    <%= render(Shared::Search::SearchBarComponent.new(resources: :tag_groups,
                                                      course: @course,
                                                      query_parameters: request.query_parameters,
                                                      options: {
                                                        actions: [:new]
                                                      })) %>
    <%= render(Shared::Search::ResultsComponent.new(course: @course, pagy: @pagy, search: @results, options: {
      headers: [:tag_group, created_at: :sortable]
    })) do |c| %>
      <% @results.results.each do |result| %>
        <%= c.result do %>
          <%= render(TagGroups::Search::ResultRowComponent.new(tag_group: result)) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
