<%
  msg = if @pagy.count == 1
          "#{@pagy.count} tag groups in #{@results.took} ms"
        else
          "#{@pagy.count} tag groups in #{@results.took} ms"
        end
%>

<div class="mb-3">
  <h1 class="mb-0">
    Tag Groups
  </h1>
  <div class="text-muted">
    All created tag groups.
  </div>
</div>

<div class="card card-body shadow-sm mb-2">
  <%= render(Shared::Search::SearchBarComponent.new(resources: :tag_groups,
                                                    course: @course,
                                                    query_parameters: request.query_parameters)) %>
</div>
<div class="d-flex">
  <div class="card card-body shadow-sm me-2" style="width: 300px; max-width: 300px">
    <%= render(Shared::Search::SearchPaneComponents.new(results: @results,
                                                        course: @course,
                                                        query_params: request.query_parameters,
                                                        resources: :tag_groups,
                                                        options: {
                                                          sort_extra: [:created_at]
                                                        }))
    %>
  </div>
  <div class="w-100">
    <h3> Results <small>(<%= msg %>)</small></h3>
    <% @results.results.each do |tag_group| %>
      <div class="card mb-2 shadow-sm">
        <div class="card-body">
          <h4>
            <%= link_to course_tag_group_path(@course, tag_group) do %>
              <%= tag_group.name %>
            <% end %>
          </h4>
          <div>
            <label class="fw-bold"> Tags </label>
            <div>
              <% tag_group.tags.map do |tag| %>
                <%= link_to(tag.name, course_tag_path(@course, tag)) %>
              <% end %>
            </div>
          </div>
          <div>
            <label class="fw-bold"> Created At </label>
            <div>
              <%= tag_group.created_at.strftime("%a, %x, %I:%M %p") %>
            </div>
          </div>
          <div>
          </div>
        </div>
        <%= render(Shared::Search::CardFooterComponent.new(record: tag_group, course: @course)) %>
      </div>
    <% end %>
  </div>

</div>
<div class="w-100 d-flex justify-content-center">
  <%== render partial: "pagy/nav.html.erb", locals: { pagy: @pagy } %>
</div>
