<%= render layout: "shared/sidebar" do %>

  <li class="mb-1 d-flex align-items-center">
    <div style="width: 16px" class="d-flex justify-content-center">
      <i class="fas fa-chalkboard-teacher"></i>
    </div>
    <%= button_to "Queue", queue_course_path(@course),
                  class: "btn btn-toggle align-items-center text-decoration-none
                            #{request.path == queue_course_path(@course) ||
                    request.path == answer_course_path(@course) ? 'active-link' : ''}",
                  method: :get %>
  </li>

  <%= tag.li class:"d-flex align-items-center" do %>

    <div style="width: 16px" class="d-flex justify-content-center">
      <i class="fas fa-user"></i>
    </div>
    <%= button_to "Settings", course_settings_path(@course),
                  class: "btn text-decoration-none #{(request.path == course_settings_path(@course)) ?
                                                       "active-link" : ""}", method: :get %>
  <% end %>
  <li class="mb-1">
    <div class=" d-flex align-items-center">
      <div style="width: 16px" class="d-flex justify-content-center">
        <i class="fas fa-info"></i>
      </div>
      <%= button_tag class: "btn btn-toggle align-items-center text-decoration-none
                            #{(request.path == course_path(@course) ||
        request.path == course_enrollments_path(@course) ||
        request.path == course_questions_path(@course) ||
        request.path == course_tags_path(@course) ||
        request.path == oauth_course_applications_path(@course)) ? 'active-link' : ''}",
                     data: { "bs-toggle": "collapse", "bs-target": "#course-info-collapse" } do %>
        Information
      <% end %>
    </div>
    <%= content_tag :div, id: "course-info-collapse",
                    class: "collapse show" do %>
      <ul class="navbar-toggler list-unstyled pb-1 small">
        <% if current_user.has_role? :instructor, @course %>
          <li class="d-flex align-items-center">
            <div style="width: 16px" class="d-flex justify-content-center">
              <i class="fas fa-bowling-ball"></i>
            </div>
            <%= button_to "Applications", oauth_course_applications_path,
                          class: "btn text-decoration-none #{(request.path == oauth_course_applications_path(@course)) ?
                                                               "active-link" : ""}", method: :get %>
          </li>
        <% end %>
        <li class="d-flex align-items-center">
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-book"></i>
          </div>
          <%= button_to "Course", course_path(@course),
                        class: "btn text-decoration-none #{(request.path == course_path(@course)) ?
                                                             "active-link" : ""}", method: :get %>
        </li>
        <li class="d-flex align-items-center">
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-question"></i>
          </div>
          <%= button_to "Questions", course_questions_path(@course),
                        class: "btn text-decoration-none #{(request.path == course_questions_path(@course)) ?
                                                             "active-link" : ""}", method: :get %>
        </li>
        <li class="d-flex align-items-center">
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-tags"></i>
          </div>
          <%= button_to "Tags",  course_tags_path(@course),
                        class: "btn text-decoration-none #{(request.path == course_tags_path(@course)) ?
                                                             "active-link" : ""}", method: :get %>
        </li>
        <li class="d-flex align-items-center">
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-user"></i>
          </div>
          <%= button_to "Enrollments", course_enrollments_path(@course),
                        class: "btn text-decoration-none #{(request.path == course_enrollments_path(@course)) ?
                                                             "active-link" : ""}", method: :get %>
        </li>
        <li class="d-flex align-items-center">
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-database"></i>
          </div>
          <%= button_to "Database", database_course_path(@course),
                        class: "btn text-decoration-none #{(request.path == database_course_path(@course)) ?
                                                             "active-link" : ""}", method: :get %>
        </li>
      </ul>
    <% end %>
  </li>

  <% tag.li class: "mb-1" do %>
    <div class="d-flex align-items-center" style="width:16px">
      <i class="fas fa-chart-bar"></i>
      <%= button_tag class: "btn btn-toggle align-items-center text-decoration-none
                            #{(request.path == analytics_today_course_path(@course) ||
        request.path == analytics_tas_course_path(@course) ||
        request.path == analytics_course_path(@course)) ? 'active-link' : ''}",
                     data: { "bs-toggle": "collapse", "bs-target": "#analytics-collapse" } do %>
        Analytics
      <% end %>
    </div>
    <%= content_tag :div, id: 'analytics-collapse', class: "collapse #{(request.path == analytics_today_course_path(@course) ||
      request.path == analytics_tas_course_path(@course) ||
      request.path == analytics_course_path(@course)) ? 'show' : ''}" do %>
      <ul class="navbar-toggler list-unstyled pb-1 small">
        <li>
          <%= button_to "Overall", analytics_course_path(@course),
                        class: "btn text-decoration-none #{(request.path == analytics_course_path(@course)) ?
                                                             "active-link" : ""}", method: :get %>
        </li>
        <li>
          <%= button_to "TA", analytics_tas_course_path(@course),
                        class: "btn text-decoration-none #{(request.path == analytics_tas_course_path(@course)) ?
                                                             "active-link" : ""}", method: :get %>
        </li>
      </ul>
    <% end %>
  <% end %>

<% end %>