<div class="d-flex flex-column p-3 bg-white border-right shadow-sm sidebar">
  <ul class="list-unstyled">
    <li class="mb-1">
      <%= button_to "Queue", course_path(@course),
                    class: "btn btn-toggle align-items-center text-decoration-none
                            #{request.path == course_path(@course) ||
                      request.path == answer_course_path(@course) ? 'active-link' : ''}",
                    method: :get %>
    </li>
    <li class="mb-1">
      <%= button_tag class: "btn btn-toggle align-items-center text-decoration-none
                            #{(request.path == courseInfo_course_path(@course) ||
        request.path == course_users_path(@course) ||
        request.path == course_questions_path(@course) ||
        request.path == course_tags_path(@course)) ? 'active-link' : ''}",
                     data: { "bs-toggle": "collapse", "bs-target": "#course-info-collapse" } do %>
        Information
      <% end %>
      <%= content_tag :div, id: "course-info-collapse",
                      class: "collapse #{(request.path == courseInfo_course_path(@course) ||
                        request.path == course_users_path(@course) ||
                        request.path == course_questions_path(@course) ||
                        request.path == course_tags_path(@course)) ? "show" : ""}" do %>
        <ul class="navbar-toggler list-unstyled pb-1 small">
          <li>
            <%= button_to "Course", courseInfo_course_path(@course),
                          class: "btn text-decoration-none #{(request.path == courseInfo_course_path(@course)) ?
                                                               "active-link" : ""}", method: :get %>
          </li>
          <li>
            <%= button_to "Questions", ApplicationHelper::SearchClass.gen_course_link(@course, :questions),
                          class: "btn text-decoration-none #{(request.path == course_questions_path(@course)) ?
                                                               "active-link" : ""}", method: :get %>
          </li>
          <li>
            <%= button_to "Tags", ApplicationHelper::SearchClass.gen_course_link(@course, :tags),
                          class: "btn text-decoration-none #{(request.path == course_tags_path(@course)) ?
                                                               "active-link" : ""}", method: :get %>
          </li>
          <li>
            <%= button_to "Roster", ApplicationHelper::SearchClass.gen_course_link(@course, :users),
                          class: "btn text-decoration-none #{(request.path == course_users_path(@course)) ?
                                                               "active-link" : ""}", method: :get %>
          </li>
        </ul>
      <% end %>
    </li>
    <li class="mb-1">
      <%= button_tag class: "btn btn-toggle align-items-center text-decoration-none
                            #{(request.path == analytics_today_course_path(@course) ||
        request.path == analytics_tas_course_path(@course) ||
        request.path == analytics_course_path(@course)) ? 'active-link' : ''}",
                     data: { "bs-toggle": "collapse", "bs-target": "#analytics-collapse" } do %>
        Analytics
      <% end %>
      <%= content_tag :div, id: 'analytics-collapse', class: "collapse #{(request.path == analytics_today_course_path(@course) ||
        request.path == analytics_tas_course_path(@course) ||
        request.path == analytics_course_path(@course)) ? 'show' : ''}" do %>
        <ul class="navbar-toggler list-unstyled pb-1 small">
          <li>
            <%= button_to "Today", analytics_today_course_path(@course),
                          class: "btn text-decoration-none #{(request.path == analytics_today_course_path(@course)) ?
                                                               "active-link" : ""}", method: :get %>
          </li>
          <li>
            <%= button_to "Overall", analytics_course_path(@course),
                          class: "btn text-decoration-none #{(request.path == analytics_course_path(@course)) ?
                                                               "active-link" : ""}", method: :get %>
          </li>
          <li>
            <%= button_to "TA", analytics_tas_course_path(@course),
                          class: "btn text-decoration-none #{(request.path == analytics_tas_course_path(@course)) ?
                                                               "active-link" : ""}", method: :get %>
          </li>
          <li>
            <%= button_to "Course", analytics_course_path(@course),
                          class: "btn text-decoration-none #{(request.path == analytics_course_path(@course)) ?
                                                               "active-link" : ""}", method: :get %>
          </li>
        </ul>
      <% end %>
    </li>
  </ul>
</div>