<div class="d-flex flex-column p-3 bg-white border-right"
     style="width: 200px; min-width: 200px; max-width: 200px; flex:1">
  <ul class="list-unstyled">
    <li class="mb-1">
      <%= button_to "Queue", course_path(@course),
                    class: "btn btn-toggle align-items-center text-decoration-none
                            #{request.path == course_path(@course) ? 'active-link' : ''}",
                    method: :get %>
    </li>
    <li class="mb-1">
      <%= button_tag class: "btn btn-toggle align-items-center text-decoration-none
                            #{(request.path == courseInfo_course_path(@course) ||
        request.path == roster_course_path(@course)) ? 'active-link' : ''}",
                     data: { toggle: "collapse", target: "#course-info-collapse" } do %>
        Course Info
      <% end %>
      <div id='course-info-collapse' class="collapse">
        <ul class="navbar-toggler list-unstyled pb-1 small">
          <li>
            <%= button_to "Course", courseInfo_course_path(@course),
                          class: 'btn text-decoration-none', method: :get %>
          </li>
          <li>
            <%= button_to "Roster", roster_course_path(@course),
                          class: 'btn text-decoration-none', method: :get %>
          </li>
        </ul>
      </div>
    </li>

    <li class="mb-1">
      <%= button_tag class: "btn btn-toggle align-items-center text-decoration-none
                            #{(request.path == settings_course_course_path(@course) ||
                                request.path == settings_queues_course_path(@course)) ? 'active-link' : ''}",
                     data: { toggle: "collapse", target: "#settings-collapse" } do %>
      Settings
      <% end %>
      <div id='settings-collapse' class="collapse">
        <ul class="navbar-toggler list-unstyled pb-1 small">
          <li>
            <%= button_to "Course", settings_course_course_path(@course),
                          class: 'btn text-decoration-none', method: :get %>
          </li>
          <li>
            <%= button_to "Queue", settings_queues_course_path(@course),
                          class: 'btn text-decoration-none', method: :get %>
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <%= button_tag class: "btn btn-toggle align-items-center text-decoration-none
                            #{(request.path == analytics_course_path(@course) ||
        request.path == analytics_course_path(@course) ||
        request.path == analytics_course_path(@course)) ? 'active-link' : ''}",
                     data: { toggle: "collapse", target: "#analytics-collapse" } do %>
        Analytics
      <% end %>
      <div id='analytics-collapse' class="collapse">
        <ul class="navbar-toggler list-unstyled pb-1 small">
          <li>
            <%= button_to "Overall", analytics_course_path(@course),
                          class: 'btn text-decoration-none', method: :get %>
          </li>
          <li>
            <%= button_to "TA", analytics_course_path(@course),
                          class: 'btn text-decoration-none', method: :get %>
          </li>
          <li>
            <%= button_to "Course", analytics_course_path(@course),
                          class: 'btn text-decoration-none', method: :get %>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>