

<%= render layout: "shared/sidebar" do %>

  <li class="mb-1 d-flex align-items-center">
    <div style="width: 16px" class="d-flex justify-content-center">
      <i class="fas fa-chalkboard-teacher"></i>
    </div>
    <%= link_to "Queue", queue_course_path(@course),
                  class: "btn btn-toggle align-items-center text-decoration-none
                            #{["courses/queue", "courses/answer",
                               "courses/queue/staff_log"].include?(controller_path) ? 'active-link' : ''}" %>
  </li>

  <%= tag.li class:"d-flex align-items-center" do %>

    <div style="width: 16px" class="d-flex justify-content-center">
      <i class="fas fa-user"></i>
    </div>
    <%= link_to "Settings", course_settings_path(@course),
                  class: "btn text-decoration-none #{(request.path == course_settings_path(@course)) ?
                                                       "active-link" : ""}" %>
  <% end if current_user.has_role? :instructor, @course  %>
  <li class="mb-1">
    <div class=" d-flex align-items-center">
      <div style="width: 16px" class="d-flex justify-content-center">
        <i class="fas fa-info"></i>
      </div>
      <%= button_tag class: "btn btn-toggle align-items-center text-decoration-none
                            #{(["courses", "enrollments", "questions",
                                "tags", "tag_groups", "dashboard",
                                "dashboards"].include?(controller_name) ||
        ["enrollments/import", "questions/search", "tags/search", "tag_groups/search", "enrollments/search"].include?(controller_path)) ? 'active-link' : ''}",
                     data: { "bs-toggle": "collapse", "bs-target": "#course-info-collapse" } do %>
        Information
      <% end %>
    </div>
    <%= content_tag :div, id: "course-info-collapse",
                    class: "collapse show" do %>
      <ul class="navbar-toggler list-unstyled pb-1 small">
        <%= tag.li class: "d-flex align-items-center" do %>
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-book"></i>
          </div>
          <%= link_to "Course", course_path(@course),
                        class: "btn text-decoration-none #{(controller_name == "courses") ?
                                                             "active-link" : ""}" %>
        <% end if current_user.instructor_of?(@course) %>
        <li class="d-flex align-items-center">
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-question"></i>
          </div>
          <%= link_to "Questions", search_course_questions_path(@course),
                        class: "btn text-decoration-none #{(controller_name == "questions" ||
                          controller_path == "questions/search") ?
                                                             "active-link" : ""}" %>
        </li>
        <li class="d-flex align-items-center">
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-tags"></i>
          </div>
          <%= link_to "Tags",  search_course_tags_path(@course),
                        class: "btn text-decoration-none #{(controller_name == "tags" || controller_path == "tags/search") ?
                                                             "active-link" : ""}" %>
        </li>
        <li class="d-flex align-items-center">
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-user"></i>
          </div>
          <%= link_to "Enrollments", search_course_enrollments_path(@course),
                        class: "btn text-decoration-none #{(controller_name == "enrollments" ||
                          ["courses/enrollments"].map{|v| controller_path.include?(v)}.reduce(:&)) ?
                                                             "active-link" : ""}" %>
        </li>
        <li class="d-flex align-items-center">
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-layer-group"></i>
          </div>
          <%= link_to "Tag Groups", search_course_tag_groups_path(@course),
                        class: "btn text-decoration-none #{(controller_name == "tag_groups" || ["tag_groups/search"].include?(controller_path)) ?
                                                             "active-link" : ""}" %>
        </li>
        <% tag.li class: "d-flex align-items-center" do %>
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-database"></i>
          </div>
          <%= link_to "Database", database_course_path(@course),
                        class: "btn text-decoration-none #{(controller_name == "dashboard") ?
                                                             "active-link" : ""}" %>
        <% end if current_user.has_role? :instructor, @course %>
        <%= tag.li class: "d-flex align-items-center" do %>
          <div style="width: 16px" class="d-flex justify-content-center">
            <i class="fas fa-database"></i>
          </div>
          <%= link_to "Dashboards", course_analytics_dashboards_path(@course),
                        class: "btn text-decoration-none #{(["dashboards", "dashboard"].include?(controller_name)) ?
                                                             "active-link" : ""}" %>
        <% end if current_user.has_role? :instructor, @course %>
      </ul>
    <% end %>
  </li>

  <% tag.li class: "mb-1" do %>
    <div class="d-flex align-items-center" style="width:16px">
      <i class="fas fa-chart-bar"></i>
      <%= button_tag class: "btn btn-toggle align-items-center text-decoration-none
                            #{(request.path == analytics_today_course_path(@course) ||
        request.path == analytics_tas_course_path(@course) ||
        request.path == analytics_course_path(@course)) ? 'active-link' : ''}",
                     data: { "bs-toggle": "collapse", "bs-target": "#analytics-collapse" } do %>
        Analytics
      <% end %>
    </div>
    <%= content_tag :div, id: 'analytics-collapse', class: "collapse #{(request.path == analytics_today_course_path(@course) ||
      request.path == analytics_tas_course_path(@course) ||
      request.path == analytics_course_path(@course)) ? 'show' : ''}" do %>
      <ul class="navbar-toggler list-unstyled pb-1 small">
        <li>
          <%= link_to "Overall", analytics_course_path(@course),
                        class: "btn text-decoration-none #{(request.path == analytics_course_path(@course)) ?
                                                             "active-link" : ""}", method: :get %>
        </li>
        <li>
          <%= link_to "TA", analytics_tas_course_path(@course),
                        class: "btn text-decoration-none #{(request.path == analytics_tas_course_path(@course)) ?
                                                             "active-link" : ""}", method: :get %>
        </li>
      </ul>
    <% end %>
  <% end %>

<% end %>
