<% if !records.empty? %>
  <div class="table-responsive mb-3" id="results">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <%= content_tag :th do %>
          Actions
        <% end unless request.headers.key? "Turbo-Frame" %>
        <% options[:extra_columns].each do |extra| %>
          <th style="min-width: 125px">
            <% if extra.instance_of? Hash %>

              <% if records.model.reflect_on_association(extra.keys[0])&.macro == :has_many %>
                <%= "#{flatten_hash(extra)[-2].to_s.titleize} #{flatten_hash(extra)[-1].to_s.titleize}" %>

              <% else %>
                <%= sort_link(ransack, extra.flatten.join('_')) do %>
                  <%= "#{flatten_hash(extra)[-2].to_s.titleize} #{flatten_hash(extra)[-1].to_s.titleize}" %>
                <% end %>
                <% end %>
            <% else %>
              <%= sort_link(ransack, extra.to_s) %>
            <% end %>
          </th>
        <% end %>
        <% records.model.column_names.reject { |c| options[:except].include? c.to_sym }.each do |k| %>
          <th style="min-width: 125px">
            <%= sort_link(ransack, k.to_sym) %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% records&.each do |tag| %>
        <div class="modal fade" id=<%= "modal-instance#{tag.id}" %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Delete Confirmation </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this?
              </div>
              <div class="modal-footer">
                <%= link_to polymorphic_url(@course ? [@course, tag] : [tag]), "data-turbo": false, method: :delete, class: "btn btn-primary" do %>
                  Delete
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <tr>
          <%= content_tag :td do %>
            <%= link_to presenter.info_link(tag) do %>
              <i class="fas fa-info-circle me-1"></i>
            <% end %>
            <% if options[:actions].include?(:edit) and current_user.instructor_of?(@course) and can? :edit, tag %>
              <% if records.model == Course %>
                <%= link_to edit_course_url(tag) do %>
                  <i class="fas fa-edit me-1"></i>
                <% end %>
              <% else %>
                <%= link_to edit_polymorphic_url([course || tag.course, tag]) do %>
                  <i class="fas fa-edit me-1"></i>
                <% end %>
              <% end %>

            <% end %>
            <%= link_to "" do %>
              <i class="fas fa-times" onclick="event.preventDefault()" data-bs-toggle="modal" data-bs-target="<%= "#modal-instance#{tag.id}" %>" style="cursor: pointer"></i>
            <% end  if options[:actions].include?(:destroy) and can? :delete, tag %>
          <% end unless request.headers.key? "Turbo-Frame" %>
          <% options[:extra_columns].each do |extra| %>
            <td>
              <% if extra.instance_of? Hash %>
                <%= fetch_attribute(tag, extra).to_s.titleize %>
              <% else %>
                <%= tag.send(extra).to_s.titleize %>
              <% end %>
            </td>
          <% end %>
          <% records.model.column_names.reject { |c| options[:except].include? c.to_sym }.each do |k| %>
            <td>
              <div style="  display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden">
                <% if records.model.column_for_attribute(k).type.to_s == "datetime" %>
                  <%= tag.try(k.to_sym)&.in_time_zone('Eastern Time (US & Canada)')&.to_formatted_s(:american_short) %>
                <% else %>
                  <%= tag.send(k.to_sym).to_s.titleize %>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div>

    <hr>

    <% if pagy.count == 1 %>
      <%= "#{pagy.count} #{records.model.model_name.human}" %>
    <% else %>
      <%= "#{pagy.count} #{records.model.model_name.human.pluralize}" %>
    <% end %>
  </div>

  <div class="w-100 d-flex justify-content-center">
    <%== render partial: "pagy/nav.html.erb", locals: { pagy: pagy } %>
  </div>
<% else %>
  <div class="alert alert-warning shadow-sm">
    Empty
  </div>
  <%= "#{pagy.count} #{records.model_name.human.pluralize}" %>
<% end %>
