<% options = {} if local_assigns[:options].nil? %>
<% options[:extra_columns] ||= [] %>
<% options[:except] ||= [] %>
<% options[:actions] ||= [] %>
<% options[:other_filters] ||= {} %>
<% options[:format] ||= [] %>

<% presenter = Shared::SearchFormHelper::SearchFormPresenter.new(current_user, records.model, options, params) %>

<%= filter_dropdown(options, records.model) %>

<ul class="nav nav-tabs mt-4 overflow-x-scroll">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#results" href="#">
      Results
    </a>
  </li>

  <% unless request.headers.key? "Turbo-Frame" %>

    <%= tag.li class: "nav-item" do %>

      <%= link_to new_polymorphic_path([@course, records.model]), class: "nav-link" do %>
        <i class="fas fa-plus fa-lg me-2"></i>
        <span> Add a new <%= records.model.name.titleize %> </span>
      <% end %>
    <% end if presenter.can_create? %>

    <%= tag.li class: "nav-item" do %>
      <%= link_to polymorphic_path([:download, @course, records.model], **request.query_parameters), class: "nav-link" do %>
        <i class="fas fa-download fa-lg me-2"></i>
        <span>Export to CSV </span>
      <% end %>
    <% end if options[:actions].include? :download %>

    <%= tag.li class: "nav-item" do %>
      <a href="#" onclick="event.preventDefault()" class="nav-link" data-bs-toggle="modal" data-bs-target="#import-modal">
        <i class="fas fa-upload fa-lg me-2"></i>
        Import
      </a>

      <div class="modal fade" id="import-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="import-modal-label"> Import <%= records.model.name.titleize %></h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <%= render partial: "shared/import_form", locals: { format: options[:format], model: records.model } %>
            </div>
          </div>
        </div>
      </div>
    <% end if presenter.can_import? %>
  <% end %>


</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="results">
    <% if !records.empty? %>
      <div class="table-responsive mb-3" id="results">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <%= content_tag :th do %>
              Actions
            <% end unless request.headers.key? "Turbo-Frame" %>
            <% options[:extra_columns].each do |extra| %>
              <th style="min-width: 125px">
                <% if extra.instance_of? Hash %>
                  <%= sort_link(ransack, extra.flatten.join('_')) do %>
                    <%= "#{flatten_hash(extra)[-2].to_s.titleize} #{flatten_hash(extra)[-1].to_s.titleize}" %>
                  <% end %>
                <% else %>
                  <%= sort_link(ransack, extra.to_s) %>
                <% end %>
              </th>
            <% end %>
            <% records.model.column_names.reject { |c| options[:except].include? c.to_sym }.each do |k| %>
              <th style="min-width: 125px">
                <%= sort_link(ransack, k.to_sym) %>
              </th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% records&.each do |tag| %>
            <div class="modal fade" id=<%= "modal-instance#{tag.id}" %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Delete Confirmation </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this?
                  </div>
                  <div class="modal-footer">
                    <%= link_to polymorphic_url([tag]), method: :delete, class: "btn btn-primary" do %>
                      Delete
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <tr>
              <%= content_tag :td do %>

                <%= link_to presenter.info_link(tag) do %>
                  <i class="fas fa-info-circle me-1"></i>
                <% end %>
                <%= link_to edit_polymorphic_url([course || tag.course, tag]) do %>
                  <i class="fas fa-edit me-1"></i>
                <% end if options[:actions].include?(:edit) and can? :edit, tag %>
                <%= link_to "" do %>
                  <i class="fas fa-times" onclick="event.preventDefault()" data-bs-toggle="modal" data-bs-target="<%= "#modal-instance#{tag.id}" %>" style="cursor: pointer"></i>
                <% end  if options[:actions].include?(:destroy) and can? :delete, tag %>
              <% end unless request.headers.key? "Turbo-Frame" %>
              <% options[:extra_columns].each do |extra| %>
                <td>
                  <% if extra.instance_of? Hash %>
                    <%= ApplicationHelper::SearchClass.fetch_attribute(tag, extra) %>
                  <% else %>
                    <%= tag.send(extra) %>
                  <% end %>
                </td>
              <% end %>
              <% records.model.column_names.reject { |c| options[:except].include? c.to_sym }.each do |k| %>
                <td>
                  <div style="  display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden">
                    <% if records.model.column_for_attribute(k).type.to_s == "datetime" %>
                      <%= tag.try(k.to_sym)&.localtime&.to_formatted_s(:short) %>
                    <% else %>
                      <%= tag.send(k.to_sym) %>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div>
        <% if pagy.count == 1 %>
          <%= "#{pagy.count} #{records.model.model_name.human}" %>
        <% else %>
          <%= "#{pagy.count} #{records.model.model_name.human.pluralize}" %>
        <% end %>
      </div>
    <% else %>

      <div class="alert alert-warning shadow-sm">
        Empty
      </div>
      <%= "#{pagy.count} #{records.model_name.human.pluralize}" %>
    <% end %>



    <div class="w-100 d-flex justify-content-center">
      <%== render partial: "pagy/nav.html.erb", locals: { pagy: pagy } %>
    </div>
  </div>
</div>