<% options = {} if local_assigns[:options].nil? %>
<% options[:extra_columns] ||= [] %>
<% options[:except] ||= [] %>
<% options[:actions] ||= [] %>
<% options[:other_filters] ||= {} %>
<% options[:format] ||= [] %>

<% presenter = Shared::SearchFormHelper::SearchFormPresenter.new(current_user, records, records.model, options, params) %>

<%= render partial: "shared/filter_dropdown", locals: { options: options, model: records.model } %>

<ul class="nav nav-tabs mt-4 overflow-x-scroll">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#results" href="#">
      Results
    </a>
  </li>

  <% unless request.headers.key? "Turbo-Frame" %>
    <%= tag.li class: "nav-item" do %>
      <% if records.model == Course %>
        <%= link_to new_user_course_path(@user, course), class: "nav-link" do %>
          <i class="fas fa-plus fa-lg me-2"></i>
          <span> Add a new <%= records.model.name.titleize %> </span>
        <% end %>
      <% else %>
        <%= link_to new_polymorphic_path([course, records.model]), class: "nav-link" do %>
          <i class="fas fa-plus fa-lg me-2"></i>
          <span> Add a new <%= records.model.name.titleize %> </span>
        <% end %>
      <% end %>
    <% end if presenter.can_create? %>

    <% tag.li class: "nav-item" do %>
      <%= link_to polymorphic_path([:download, course, records.model], **request.query_parameters), class: "nav-link" do %>
        <i class="fas fa-download fa-lg me-2"></i>
        <span>Export to CSV </span>
      <% end %>
    <% end if presenter.can_download? %>

    <%= tag.li class: "nav-item" do %>
      <%= link_to polymorphic_url([:import, @course, records.model]), class: "nav-link" do %>
        <i class="fas fa-upload fa-lg me-2"></i>
        Import
      <% end if presenter.can_import? %>
    <% end if presenter.can_import? %>
  <% end %>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="results">
    <div class="card card-body">
      <%= render partial: "shared/search_results", locals: {
        records: records,
        pagy: pagy,
        options: options,
        ransack: ransack,
        presenter: presenter,
        course: course
      } %>
    </div>
  </div>
</div>