<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="box-shadow: 0 0px 4px -0px #00000077; z-index: 1000">
    <div class="container-fluid">
      <a class="navbar-brand" href=<%= root_path %>>CMQueue</a>
      <button
        class="navbar-toggler"
        type="button"
        href="#navbarSupportedContent"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-grow-1">
          <li class="nav-item">
            <%= link_to "Enrollments", user_enrollments_url, class: "nav-link #{request.path == user_enrollments_path ? 'active' : ''}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Settings", user_settings_path(current_user), class: "nav-link #{request.path == user_settings_path(current_user) ? 'active' : ''}"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Admin Dashboard", "/admin", class: "nav-link", data: { turbo: "false" } if current_user.has_role? :admin %>
          </li>
          <li class="nav-item flex-grow-1 justify-content-center d-flex">
              <%= yield :nav_content %>
          </li>

          <li class="nav-item">
            <a class="nav-link active">
              <b>
                <%= current_user.email %>
              </b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>