<h3>
  <%= Enrollment.name.humanize %>
</h3>

<div class="card shadow-sm">
  <div class="card-body">
    <div class="card-title">
      <h4>
        <%= "#{@enrollment.user.full_name} - #{@enrollment.role.name.titleize}" %>
      </h4>
    </div>
    <hr>
    <div class="mb-2">
      <label class="fw-bold"> Created At </label>
      <div>
        <%= @enrollment.created_at.to_formatted_s(:american_short) %>
      </div>
    </div>
    <div class="mb-2">
      <label class="fw-bold"> Updated At </label>
      <div>
        <%= @enrollment.updated_at.to_formatted_s(:american_short) %>
      </div>
    </div>
    <div class="mb-2">
      <label class="fw-bold"> Last Question with Activity </label>
      <div>
        <% question = @enrollment.questions.order(created_at: :desc).first %>

        <% if question.nil? %>
            <span class="badge rounded-pill bg-secondary">
              None
            </span>
        <% end %>
        <%= link_to course_question_path(@course, question) do %>
          Go to #<%= question.id %>:
          <%= render(Questions::QuestionStateBadgeComponent.new(question_state: question.question_state)) %>
        <% end if question.present? %>
      </div>
    </div>
  </div>
  <%= render(Shared::Models::Show::CardFooterComponent.new(record: @enrollment, course: @course)) %>
</div>
