<div data-controller="modal" data-modal-question-id-value="<%= question.id %>" data-question_form-target="modal"  data-modal-state-value="<%= question.question_state&.state %>">
  <div data-modal-target="modal" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <% if question.resolving? %>
          <div class="modal-header">
            <h5 class="modal-title">
              <b><%= "#{question.question_state.user.given_name} #{question.question_state.user.family_name}" %></b>
              is answering your question.
            </h5>
          </div>
          <div class="modal-body" data-modal-target="body">
            <div class="d-flex justify-content-center align-items-center w-100">
            </div>
          </div>
          <div class="modal-footer">
          </div>
        <% elsif question.resolved? %>
          <div class="modal-header">
            <h5 class="modal-title">
              Question Answered
            </h5>
          </div>
          <div class="modal-body">
            <div class="d-flex justify-content-center align-items-center w-100">
              <%= button_to "New Question", new_course_forms_question_path(question.course), method: :get, class: "btn btn-primary" %>
            </div>
          </div>
          <div class="modal-footer">
          </div>

        <% elsif question.user&.unacknowledged_kicked_question? %>
          <div class="modal-header">
            <h5 class="modal-title">
              You have been kicked because...
            </h5>
          </div>
          <div class="modal-body">
            <%= question.user.unacknowledged_kicked_question.question_state.description %>
          </div>
          <div class="modal-footer">
            <%= button_to "Acknowledge Question",
                          acknowledge_question_path(question.user.unacknowledged_kicked_question),
                          class: "btn btn-success"
            %>
          </div>

        <% elsif question.frozen? %>
          <div class="modal-header">
            <h5 class="modal-title">
              You have been frozen by <b><%= question.question_state.user.full_name %></b> because...
            </h5>
          </div>
          <div class="modal-body">
            <%= question.question_state.description %>
          </div>
          <div class="modal-footer">

            <%= form_with url: update_state_question_path(question), id: "unfreeze", local: false do |f| %>
              <%= f.hidden_field :course_id, value: question.course.id, autocomplete: "off" %>
              <%= f.hidden_field :state, value: "unresolved" %>
              <%= tag.button :Unfreeze,
                             "data-turbo": false,
                             type: "submit",
                             form: "unfreeze",
                             class: "btn btn-primary",
                             data: { "disable-with": "Loading",
                             } %>
            <% end if !question.new_record? %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
