<%= simple_form_for [@course, @enrollment], html: { autocomplete: 'off' } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :course_id, value: params[:course_id] if params[:course_id] %>
  <%= f.input :semester, collection: ["F21", "Su21"], include_blank: false %>
  <div data-controller="react_select">
    <%= f.association :user, disabled: !@enrollment.new_record?, collection: User.all, label_method: ->(user) { "#{user.given_name} #{user.family_name}" } %>
  </div>
  <div data-controller="react_select">
    <%= f.association :role, collection: @course.roles, label_method: ->(role){ role.name } %>
  </div>

  <p class="text-muted"> Does the user not exist? Add them. </p>
  <%= f.submit :Submit, class: "btn btn-primary", "data-disable-with": "Loading" %>
<% end %>
