<%= simple_form_for [@course, @tag], html: { autocomplete: 'off' } do |f| %>
  <%= f.hidden_field :course_id, value: params[:course_id] if params[:course_id] %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :archived, label: "Hidden" %>
  <div data-controller="react_select">
    <%= f.association :tag_groups, collection: @course.tag_groups %>
  </div>

  <%= f.submit :Submit, class: "btn btn-primary", "data-disable-with": "Loading" %>
<% end %>
