<div class="mb-3">
  <h1 class="mb-0">
    Enrollments
  </h1>
  <div class="text-muted">
    All created enrollments.
  </div>
</div>


<turbo-frame id="search-container" class="search-container" data-turbo-action="advance" target="_top">
  <%= render(Shared::Search::SearchPaneComponents.new(results: @results,
                                                      resource_path: [:search, @course, :enrollments],
                                                      query_params: request.query_parameters,
                                                      resources: :enrollments
  ))
  %>

  <div class="w-100">
    <%= render(Shared::Search::SearchBarComponent.new(resources: :enrollments,
                                                      parent: @course,
                                                      query_parameters: request.query_parameters,
                                                      options: {
                                                        actions: [:new, :import]
                                                      })) %>
    <%= render(Shared::Search::ResultsComponent.new(parent: @course, pagy: @pagy, search: @results, options: {
      headers: [:enrollment, created_at: :sortable]
    })) do |c| %>
      <% @results.results.each do |result| %>
        <%= c.result do %>
          <%= render(Enrollments::Search::ResultRow.new(enrollment: result)) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</turbo-frame>