<div class="card card-body">
  <div class="card-title">
    <h2>
      Database
    </h2>
  </div>
  <div>
    <h4>
      Connecting
    </h4>
    <p>
      It is currently possible to directly access all data related to your course by directly interfacing with the
      backing PostgreSQL database using TLS. Please utilize this
      <a href="https://blog.crunchydata.com/blog/ssl-certificate-authentication-postgresql-docker-containers">resource</a>
      to learn more about connecting to the database
      using TLS. Specifically, refer to Section 5 in order to generally understand how to connect, but you will most
      likely want to refer to
      resources more specific to your use case. For example, you can utilize
      <a href="https://node-postgres.com/features/ssl">node-postgres</a>
      to handle connecting to the store with Node.js.
    </p>
  </div>
  <div>
    <h4>
      Features
    </h4>
    <p>
      When your course was created, an associated Postgres user was also created. In addition, your data will be
      available
      through <a href="https://www.postgresql.org/docs/12/tutorial-views.html"> views </a> reflecting the tables.
      Currently, these are normal views,
      although we will switch to
      <a href="https://www.postgresql.org/docs/9.3/rules-materializedviews.html"> materialized views </a> in the future.
      This will not affect correctness, although it will just mean that the data will delayed by some period of time;
      ideally < 24 hours.
      Each of these views is further associated with a schema corresponding to your course. Your user will only have
      permission to access the schema and tables
      of your course. In addition, you will only have read access to the store.
    </p>
    <p>
      Using this resource, you should be able to directly hook into the database to utilize whatever third party
      applications you require
      to perform further analysis.
    </p>
  </div>
  <div>
    <h4> Schema </h4>
    <p>
      You will have access to views in the schema <b>course_<%= @course.id %></b>. You will have access to the following
      views:
    </p>
    <ul>
      <li><b>course_<%= @course.id %></b>.questions</li>
      <li><b>course_<%= @course.id %></b>.enrollments</li>
      <li><b>course_<%= @course.id %></b>.tags</li>
      <li><b>course_<%= @course.id %></b>.courses (this is just a reflection of your own course)</li>
    </ul>
  </div>

  <div>
    <h4>
      Resources
    </h4>

    <p>
      In order to connect to the database, you will need a public client certificate; a private client key; and
      the public key of the certificate authority (CA). These are generated for you to download.

      Please keep these safe. Specifically, keep the private client key safe, as ownership of this allows you (or
      others)
      to read your data.

      <b>
        <%= button_to "Download Certificates",
                      download_course_certificates_path(@course),
                      method: :get,
                      remote: true,
                      class: "btn btn-primary"

        %>
      </b>
    </p>
  </div>
  <% tag.div do %>
    <h4>
      Revocation
    </h4>
    <p>
      In case you want to regenerate or invalidate all existing certificates, you can do so.
    </p>

    <b>
      <%= button_to "Revoke All Certificates",
                    download_course_certificates_path(@course),
                    method: :get,
                    remote: true,
                    class: "btn btn-primary"
      %>
    </b>
  <% end %>
</div>