<h2 class="mb-3">
  <b>
    Course Information
  </b>
</h2>
<div class="card shadow-sm">
  <div class="card-body">
    <%= form_with model: @course do |form| %>
      <div class="mb-1">
        <%= form.label :name, "Name" %>
        <%= form.text_field :name, placeholder: @course.name, class: 'form-control' %>
      </div>
      <%= form.submit "Update", class: "btn btn-primary" %>
    <% end %>

    <div>
      <h4>
        Course Name
      </h4>
      <p>
        <%= @course.name %>
      </p>
    </div>
    <div>
      <h4>
        TA Code
      </h4>
      <p>
        <%= @course.ta_code %>
      </p>
    </div>
    <% if current_user.has_role? :instructor, @course %>
      <div>
        <h4>
          Instructor Code
        </h4>
        <p>
          <%= @course.instructor_code %>
        </p>
      </div>
    <% end %>
  </div>
</div>