<div class="card">
  <div class="card-body">
    <div class="mb-5">
      <h3>
        Create a New Queue
      </h3>
      <%= form_with url: tags_url, scope: :tag do |form| %>
        <%= form.hidden_field :course_id, value: @course.id %>
        <div class="form-group">
          <%= form.label :name, "Name" %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :description, "Description" %>
          <%= form.text_field :description, class: 'form-control' %>
        </div>
        <%= form.submit "Submit" %>
      <% end %>
    </div>

    <hr/>

    <h2 class="mb-2" id="queues">
      Queues
    </h2>

    <div class="list-group list-group-flush">
      <% @tags.each do |tag| %>
        <div class="list-group-item d-flex justify-content-center align-items-center">
          <h5 class="mb-0" style="flex: 1">
            <%= tag.name %>
          </h5>
          <div class="btn-group ">
            <%= button_to "Information", tag_path(tag.id), class: "btn btn-primary mr-2", method: :get %>
            <%= button_to "Delete", tag_path(tag.id), class: "btn btn-primary mr-2", method: :delete %>
            <%= button_to "Edit", edit_tag_path(tag.id), class: "btn btn-primary", method: :get %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>