<div class="mb-3">
  <h1 class="mb-0">
    Tags
  </h1>
  <div class="text-muted">
    All created tags.
  </div>
</div>

<turbo-frame id="search-container" class="search-container" data-turbo-action="advance" target="_top">
  <%= render(Shared::Search::SearchPaneComponents.new(results: @results,
                                                      query_params: request.query_parameters,
                                                      resource_path: [:search, @course, :tags],
                                                      resources: :tags))
  %>
  <div class="w-100">
    <%= render(Shared::Search::SearchBarComponent.new(resources: :tags,
                                                      parent: @course,
                                                      query_parameters: request.query_parameters,
                                                      options: {
                                                        actions: [:new]
                                                      })) %>
    <%= render(Shared::Search::ResultsComponent.new(parent: @course, pagy: @pagy, search: @results, options: {
      headers: [:tag_group, created_at: :sortable]
    })) do |c| %>
      <% @results.results.each do |result| %>
        <%= c.result do %>
          <%= render(::Tags::Search::ResultRowComponent.new(tag: result)) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</turbo-frame>