<h1>
  <%= @course.name %>
</h1>
<hr>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Queue", queue_course_path(@course), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "TA Log", queue_staff_log_course_path(@course), class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Queue Status Logs", course_queue_status_logs_path(@course, date: Date.current.strftime("%Y-%m-%d")), class: "nav-link" %>
  </li>
</ul>

<turbo-frame id="log" data-turbo-action="advance">
  <div class="mb-2">
    <% if @date.present? && @date > DateTime.current %>
      <p> Please enter a valid date. </p>
    <% else %>
      <%= render(Charts::StaffLogComponent.new(course: @course, options: {
        date: @date
      })) %>
    <% end %>
  </div>
  <%= form_with url: queue_staff_log_course_path(@course),
                method: :get,
                html: { style: "width: min-content", autocomplete: "off" },
                data: { controller: 'autosave', autosave_delay_value: '0' } do |f| %>
    <%= f.label "Select Date", class: "fw-bold" %>
    <%= f.date_field :date,
                     class: "form-control",
                     value: params[:date] || Date.current.strftime("%Y-%m-%d"),
                     data: { action: 'autosave#save' } %>
  <% end %>
</turbo-frame>
