
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>
        <%= @question.user.full_name %>
      </h3>
    </div>
    <hr>
    <div class="mb-2">
      <label class="fw-bold"> Description </label>
      <div>
        <%= @question.description %>
      </div>
    </div>
    <div class="mb-2">
      <label class="fw-bold"> What Have They Tried? </label>
      <div>
        <%= @question.tried %>
      </div>
    </div>
    <div class="mb-2">
      <label class="fw-bold"> Location </label>
      <div>
        <%= @question.location %>
      </div>
    </div>
    <span class="card-title">
    <strong>Time Spent Answering</strong>
  </span>
    <div
      data-controller="question-timer"
      data-question-timer-created-at-value="<%= @question.question_state.created_at.to_time.iso8601 %>">
    <%= ((Time.now - @question.question_state.created_at).floor / 60 % 60).to_s.rjust(2, '0') %>:<%= ((Time.now - @question.question_state.created_at + 1).floor % 60).to_s.rjust(2, '0') %>
  </div>
  </div>
  <div class="card-footer d-grid" style="grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); column-gap: 10px">
    <%= button_to "Resolve",
                  handle_question_path(@question,
                                       state: "resolved"
                  ), class: "w-100 btn btn-success", "data-disable-with": "Loading" %>

    <%= button_tag "Kick", class: "btn btn-danger", "data-bs-toggle": "modal", "data-bs-target": "#kick-modal" %>
    <% content_for :modal do %>
      <div class="modal fade" id="kick-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <%= form_with url: handle_question_path(@question, state: "kicked"), html: { autocomplete: "off" } do |f| %>
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Explanation for Kicking </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <label class="form-label fw-bold"> Description </label>
                <%= f.text_area :description,
                                class: "form-control",
                                placeholder: "Give an explanation to the student as to why you are kicking them. " +
                                  "They will see and have to acknowledge this question before they can create new questions." %>
              </div>
              <div class="modal-footer">
                <%= f.submit "Confirm", class: "btn btn-primary", "data-disable_with": "Kicking" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= button_tag "Freeze", class: "btn btn-primary", "data-bs-toggle": "modal", "data-bs-target": "#freeze-modal" %>
    <% content_for :modal do %>
      <div class="modal fade" id="freeze-modal" tabindex="-1" aria-hidden="true">
        <%= form_with url: handle_question_path(@question, state: "frozen"), html: { autocomplete: "off" } do |f| %>
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Explanation for Freezing </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <label class="form-label fw-bold"> Description </label>
                <%= f.text_area :description, class: "form-control",
                                placeholder: "Give an explanation to the student as to why you are freezing them. " +
                                  "They will see this explanation, and can unfreeze themselves after reading it." %>
              </div>
              <div class="modal-footer">
                <%= f.submit "Confirm", class: "btn btn-primary", "data-disable_with": "Freezing" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= button_to "Unresolve",
                  handle_question_path(@question, state: "unresolved"),
                  class: "w-100 btn btn-secondary",
                  "data-disable-with": "Unresolving" %>
  </div>
</div>
