<div id="feed-component">
  <div class="d-flex mb-3">
    <%= form_with id: "answer-form", url: feed_answer_course_path(course, tags: selected_tags), html: { target: "_top" }, class: "me-2 w-100" do |f| %>
      <%= f.hidden_field :tags, value: selected_tags&.split(" "), multiple: true if params[:tags]&.split(" ").present? %>
      <%= f.submit "Answer", "data-turbo-frame": "_top",
                   class: "btn btn-primary w-100 queue-button",
                   disabled: !course.answerable_questions?(tag_names: selected_tags) %>

    <% end %>
    <%= render(Courses::OpenButtonComponent.new(course: course)) %>
  </div>

  <%= render(Courses::Feed::TagFilterComponent.new(search: search, course: course, selected_tags: selected_tags)) %>

  <% if questions.count == 0 %>
    <div class="alert alert-warning shadow-sm">
      <h5> <%= questions_msg %>  </h5>
    </div>
  <% end %>

  <% questions.each do |question| %>
    <%= render(Courses::Feed::QuestionCardComponent.new(question: question)) %>
  <% end %>

  <div class="w-100 d-flex justify-content-center">
    <%== render partial: "pagy/nav.html.erb", locals: { pagy: pagy } %>
  </div>
</div>
