<%= helpers.turbo_stream_from question, channel: SyncedTurboChannel %>
<turbo-frame id="<%= dom_id(question) %>">
  <div class="card shadow-sm mb-3 position-relative">
    <div class="position-absolute" style="top: -15px; left: 0">
      <% question.tags.each do |tag| %>
        <span class="badge bg-danger">
          <%= tag.name %>
        </span>
      <% end %>
    </div>
    <div class="card-body">
      <div class="card-title fw-bold">
        <div class="fw-bold">
          <%= tag.span status_badge_msg, class: status_badge_class %>
          <%= question.user.full_name %>
        </div>
        <div class="<%= status_class %>"> <%= status_msg %></div>
      </div>
      <div>
        <%= question.description %>
      </div>
    </div>
    <%= tag.div class: "card-footer d-flex" do %>
      <%= render(Shared::ModalComponent.new(id: "#{dom_id(question)}-info-modal")) do |modal| %>
        <% modal.title do %>
          Question Information
        <% end %>
        <% modal.button do %>
          <%= button_tag "More Information", class: "btn btn-primary me-2" %>
        <% end %>
        <% modal.body do %>
          <div>
            <label class="fw-bold"> Description </label>
            <div>
              <%= question.description %>
            </div>
          </div>
          <div>
            <label class="fw-bold"> Tried </label>
            <div>
              <%= question.tried %>
            </div>
          </div>
          <div>
            <label class="fw-bold"> Location </label>
            <div>
              <%= question.location %>
            </div>
          </div>
          <hr>
          <div>
            <label class="fw-bold"> Other Questions Created Today </label>
            <div style="overflow-y: scroll; max-height: 400px">
              <% question.related_questions.each do |related_q| %>
                <div class="card mb-2 shadow-sm me-1">
                  <div class="card-body">
                    <div>
                      <label class="fw-bold"> Description </label>
                      <div>
                        <%= related_q.description %>
                      </div>
                    </div>
                    <div>
                      <label class="fw-bold"> Tried </label>
                      <div>
                        <%= related_q.tried %>
                      </div>
                    </div>
                    <div>
                      <label class="fw-bold"> Location </label>
                      <div>
                        <%= related_q.location %>
                      </div>
                    </div>
                    <div class="mb-2">
                      <label class="fw-bold"> Current State </label>
                      <div>
                        <%= render(Questions::QuestionStateBadgeComponent.new(question_state: related_q.question_state)) %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% modal.footer do %>
        <% end %>
      <% end %>
      <%= button_to "Unfreeze",
                    handle_question_path(question, state: "unresolved"),
                    class: "btn btn-primary",
                    "data-disable-with": "Unfreezing" if question.frozen? %>
    <% end %>
  </div>
</turbo-frame>
