<div class="mb-3">
  <h1 class="mb-0">
    Questions
  </h1>
  <div class="text-muted">
    All created questions.
  </div>
</div>

<turbo-frame id="search-container" class="search-container" data-turbo-action="advance" target="_top">
  <%= render(Shared::Search::SearchPaneComponents.new(results: @results,
                                                      course: @course,
                                                      query_params: request.query_parameters,
                                                      resources: :questions,
                                                      options: {
                                                        sort_extra: [:created_at],
                                                      }))
  %>
  <div class="w-100">
    <%= render(Shared::Search::SearchBarComponent.new(resources: :questions,
                                                      course: @course,
                                                      query_parameters: request.query_parameters))
    %>
    <%= render(Shared::Search::ResultsComponent.new(course: @course, pagy: @pagy, search: @results, options: {
      headers: [:question, created_at: :sortable]
    })) do |c| %>
      <% @results.results.each do |result| %>
        <%= c.result do %>
          <%= render(Questions::Search::ResultRow.new(question: result)) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
