<!DOCTYPE html>
<html>
<head>
  <title>
    <% if ENV['demo'] %>
      CMQueue (DEMO)
    <% else %>
      CMQueue
    <% end %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-cache-control" content="no-cache">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag asset_path("books.png") %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <%= yield :opt_js %>
</head>

<body style="background-color: #F3F4EF">

<%= turbo_stream_from current_user %>

<%= content_tag :div, id: "notification-feed", data: {
  userId: current_user.id
}.to_json do %>
<% end if current_user %>

<%= content_tag :div, id: "prefetcher", data: {
  userId: current_user.id,
}.to_json do %>
<% end if current_user %>

<style><%= yield :stylesheets %></style>
<%= render partial: "shared/site_navbar" %>

<% if content_for?(:content) %>
  <%= yield(:content) %>
<% else %>
  <div class="container w-100 mt-4 mb-5" style="height: 100vh">
    <%= yield %>
  </div>
<% end %>
</body>
</html>
