<!DOCTYPE html>
<html>
<head>
  <title>Meet</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-cache-control" content="no-cache">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/3.0.14/bootstrap-native.min.js" integrity="sha512-JXWtfJs898fPgQeqGxEvyJbV6s8/aDvRLDTx8kVS9mwN73ok9islxxa27vhcmjZ2SafkhgsZSAeV1YsQlEgukA==" crossorigin="anonymous"></script>

</head>

<body style="background-color: #f0f0f0">
<style><%= yield :stylesheets %></style>
<%= render partial: "shared/site_navbar" %>

<%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>
