<% if @user %>

  <% content_for :content do %>
    <div style="display: flex; flex-direction: row; ">
      <%= render partial: "shared/user_sidebar" %>
      <button class="btn btn-outline-secondary sidebar-opener" onclick="event.preventDefault(); toggle()">
        <i class="fas fa-chevron-right"></i>
      </button>
      <div id='courses-container' class="container w-100 mt-4 mb-5 overflow-hidden" style="min-height: 100vh">
        <%= content_for?(:users_content) ? yield(:users_content) : yield %>
      </div>
    </div>
  <% end %>

  <%= render template: "layouts/application" %>

<% elsif @course %>
  <% content_for :courses_content do %>
    <%= yield %>
  <% end %>
  <%= render template: "layouts/courses" %>
<% else %>
  <%= render template: "layouts/application" %>
<% end %>